<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Instruments App</title>
</head>

<body>
  <center>
    <h1>Welcome to the Instruments app!</h1>
    <p><i>An app for categorizing cool instruments.</i></p>
    <a href="/instruments">Browse All Instruments</a>
    <br>
    <img src="https://www.mediafire.com/file/270f6in2gkr4reh/coolinstrumentsmaller.png/file">

</body>

<br><br><br><br><br>
<footer><small>An app by morgantstewart. <a href="https://github.com/morgantstewart">Visit my GitHub</a></small>
</footer>

</html>
</center>