<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instruments App</title>
  </head>
  <body>
    <h1>Welcome to the Cool Instruments app!</h1>
    <p>An app for listing cool instruments.</p>
  </body>
</html>
