//GET instruments/:id/edit
// Shows a form to edit an existing instrument


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit <%= instrument.name %>
    </h1>
    <form action="/instruments/<%=instrument._id%>?_method=PUT" method="POST"></form>

    <label for="name">Name:</label>
<input type="text" name="name" value="<%= fruit.name %>" />

    <label for="isCool">Is this instrument cool?</label>
<input type="checkbox" name="isCool" <% if (instrument.isCool) { %>checked<% } %> >
    <button type="submit">Update Instrument</button>
    </form>
    <br><a href="/instruments">Back to Instruments</a>
</body>

</html>