<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cool Instruments Index</title>
</head>

<body>
    <h1>All Cool Instruments</h1>
</body>

</html>