<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Instrument</title>
</head>

<body>
  <h1>Edit <%= instrument.name %>
  </h1>
  <% if(instrument.isCool){ %>
    <p>This instrument is cool. </p>
    <% } else { %>
      <p>This instrument is NOT cool.</p>
      <% } %>

       <!-- <button type="submit">Submit</button> -->

  <a href="/instruments/<%= instrument._id %>/edit">Edit Instrument</a>



        <br><a href="/instruments">Back to Instruments</a>

</body>

</html>