<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Instrument</title>
</head>
<body>
   <h1>Edit Instrument</h1>
<% if(instrument.isCool){ %>
<p>This instrument is cool. </p>
<% } else { %>
<p>This instrument is NOT cool.</p>
<% } %>

<form action="/instruments/<%=instrument._id%>?_method=EDIT" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" />
            <label for="isCool">Is it Cool?</label>
            <input type="checkbox" name="isCool" id="isCool" />

            <button type="submit">Edit Instrument</button>
          </form>


<a href="/instruments">Back to Instruments</a>
</body>
</html>