<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Instrument</title>
</head>

<body>
  <h1>Edit <%= instrument.name %>
  </h1>
  <% if(instrument.isCool){ %>
    <p>This instrument is cool. </p>
    <% } else { %>
      <p>This instrument is NOT cool.</p>
      <% } %>

        <form action="/instruments/<%=instrument._id%>?_method=GET" method="GET">

          <label for="isCool">Is it Cool?</label>
          <input type="checkbox" name="isCool" <% if (instrument.isCool) { %>checked<% } %> >

            <button type="submit">Update Instrument</button>

        </form>








        <br><a href="/instruments">Back to Instruments</a>

</body>

</html>