<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Instrument</title>
</head>

<body>
  <h1>Edit <%= instrument.name %>
  </h1>
  <% if(instrument.isCool){ %>
    <p>This instrument is cool. </p>
    <% } else { %>
      <p>This instrument is NOT cool.</p>
      <% } %>
        <a href="/instruments/<%= instrument._id %>/edit">Edit Instrument</a>

        <form action="/instruments/<%=instrument._id%>?_method=DELETE" method="POST">
          <br><button type="submit">Delete <%= instrument.name%>!</button>
        </form>
        <br><a href="/instruments">Back to Instruments</a>
        <br><a href="/">See Homepage</a>
</body>

</html>